/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;

    img {
        margin-right: 1rem;
    }

    .media.d-flex {
        align-items: center;

        h4 {
            word-break: break-all;
        }
    }
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
    min-width: 5rem;
    max-width: 5rem;

    .align-items-center {
        flex-direction: column;
    }

    .align-items-center h4,
    ul .nav-item span {
        display: none;
    }

    img {
        box-sizing: content-box;
        margin-right: 0;
    }
}

#content.active {
    margin-left: 5rem;
    width: calc(100% - 5rem);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -5rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    .vertical-nav {
        min-width: 5rem;
        width: 5rem;
    }
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
    background: #edf2f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}
