/* Style The Dropdown Button */
.dropbtn-lang {
    color: black;
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-lang {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-lang-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-lang-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-lang-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown-lang:hover .dropdown-lang-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-lang:hover .dropbtn-lang {
    background-color: darkgray;
}
